# 1.0 Imports

In [1]:
import pandas as pd
import numpy as np
import os

# 2.0 Read CSV
**Nesta etapa, o arquivo csv é lido e atribuido à classe pandas. Também utilizo a função head() para me ajudar a enxergar como os dados estão dispostos, com isso posso gerar ideias de como fazer a próxima etapa.**

In [88]:
dir_path = os.path.dirname(os.path.abspath(''))
csv_path = os.path.join(dir_path,'dataset','teste_indicium_precificacao.csv')
data_frame = pd.read_csv(csv_path)
data_frame.head()

,id,nome,host_id,host_name,bairro_group,bairro,latitude,longitude,room_type,price,minimo_noites,numero_de_reviews,ultima_review,reviews_por_mes,calculado_host_listings_count,disponibilidade_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
2,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
3,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
4,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

# Data Processing

In [91]:
# print para saber as informações do data frame
print(data_frame.info())

# eliminação de valores vazios das colunas identificadas
for coluna in ['nome', 'host_name', 'ultima_review', 'reviews_por_mes']:
    data_frame.dropna(subset=[coluna], inplace=True)

# transformar coluna ultima_review em date time
data_frame['ultima_review'] = pd.to_datetime(data_frame['ultima_review'], format='%Y-%m-%d')

# info do data frame após as eliminações das linhas null
print(data_frame.info())

<class 'pandas.core.frame.DataFrame'>
Index: 38820 entries, 0 to 48851
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             38820 non-null  int64
 1   nome                           38820 non-null  object
 2   host_id                        38820 non-null  int64
 3   host_name                      38820 non-null  object
 4   bairro_group                   38820 non-null  object
 5   bairro                         38820 non-null  object
 6   latitude                       38820 non-null  float64
 7   longitude                      38820 non-null  float64
 8   room_type                      38820 non-null  object
 9   price                          38820 non-null  int64
 10  minimo_noites                  38820 non-null  int64
 11  numero_de_reviews              38820 non-null  int64
 12  ultima_review                  38820 non-null  datetime64[ns]
 13  reviews_por_mes                38820 non-null  float64
 14  calculado_host_listings_count  38820 non-null  int64
 15  disponibilidade_365            38820 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 5.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 38820 entries, 0 to 48851
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             38820 non-null  int64
 1   nome                           38820 non-null  object
 2   host_id                        38820 non-null  int64
 3   host_name                      38820 non-null  object
 4   bairro_group                   38820 non-null  object
 5   bairro                         38820 non-null  object
 6   latitude                       38820 non-null  float64
 7   longitude                      38820 non-null  float64
 8   room_type                      38820 non-null  object
 9   price                          38820 non-null  int64
 10  minimo_noites                  38820 non-null  int64
 11  numero_de_reviews              38820 non-null  int64
 12  ultima_review                  38820 non-null  datetime64[ns]
 13  reviews_por_mes                38820 non-null  float64
 14  calculado_host_listings_count  38820 non-null  int64
 15  disponibilidade_365            38820 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 5.0+ MB
None
0       2019-05-21
2       2019-07-05
3       2018-11-19
4       2019-06-22
5       2017-10-05
           ...
48781   2019-07-07
48789   2019-07-07
48798   2019-07-07
48804   2019-07-07
48851   2019-07-08
Name: ultima_review, Length: 38820, dtype: datetime64[ns]

In [93]:
data_frame['nome']

0                                   Skylit Midtown Castle
2                         Cozy Entire Floor of Brownstone
3        Entire Apt: Spacious Studio/Loft by central park
4               Large Cozy 1 BR Apartment In Midtown East
5                                         BlissArtsSpace!
                               ...
48781          Lovely Privet Bedroom with Privet Restroom
48789                            No.2 with queen size bed
48798                                     Seas The Moment
48804                       1B-1B apartment near by Metro
48851             Cozy Private Room in Bushwick, Brooklyn
Name: nome, Length: 38820, dtype: object